<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>BusList</title>
	  <link rel="stylesheet" type="text/css"   href="/css/style.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>


            <header>
            	<nav>
                        <div class="logo">
                              A&S Enterpeise
                        </div>

                        <div class="menu">
            <ul>
				<li><a href = "/home">Home</a></li>
                <li><a href = "/home/userlist">Bus List</a></li>
                <li><a href = "/home/addbus">Add Bus</a></li>
                <li><a href= "/home/passlist">Passenger List</a></li>
                <li><a href= "/home/seller">Ticket Seller</a></li>
				<li><a href= "/home/profile">Profile</a></li>
                <li><a href= "/home/logout">Logout</a></li>
            </ul>          
                        </div>
                    </nav>
                <div>
                	<br><br><br><br><br>
                	<center>
                			<h3>Update Businfo</h3>
		
<form method="post">
				<center>
				<table width="400px">
						<tr>
							<th>Ticket Id :</th>
							<td><input type="text"placeholder="Name" name="busid"value="<%=tid%>" disabled></td>
						</tr>
						<tr>
							<th>Bus Name :</th>
							<td><input type="text"placeholder="Name" name="busname"value="<%=busname%>"></td>
						</tr>
	
						<tr>
							<th>Time :</th>
							<td><input type="text"placeholder="Time" name="time"value="<%=time%>"></td>
						</tr>
						
						<tr>
							<th>Price :</th>
							<td><input type="text"placeholder="Price" name="price"value="<%=price%>"></td>
						</tr>
	
						<tr>
							<th>Starting Point:</th>

							<td><input type="text"placeholder="Starting Point" name="start"value="<%=start%>"></td>
						</tr>	
	
						<tr>
							<th>Ending Point:</th>
							<td><input type="text"placeholder="Ending Point" name="end"value="<%=end%>"></td>
						</tr>

						<tr>
							<th>Sit No:</th>
							<td><input type="text"placeholder="Ending Point" name="sii"value="<%=sii%>"></td>
						</tr>
						<tr>
							<th>UserName:</th>
							<td><input type="text"placeholder="Ending Point" name="name"value="<%=name%>"></td>
						</tr>
						<tr>
							<th>Phone No:</th>
							<td><input type="text"placeholder="Ending Point" name="phone"value="<%=phone%>"></td>
						</tr>
						<tr>
							<th>Email:</th>
							<td><input type="text"placeholder="Ending Point" name="email"value="<%=email%>"></td>
						</tr>
				</table>
				</center>
				<center>
					<br><input name="submit" type="submit" value="Submit"/>
				</center>
				</form>
			</td>
		</tr>
</center>
</div>
</header>
</body>
</html>
